<nav>
    <div class="navigation">
            <a href="/">Home</a>
            <a href="wishlist">Wishlist</a>
            <a href="account">Your account</a>
            <a href="product">Products</a>
    </div>
</nav>