.logo{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 50px;
}


.navigation{
    margin : auto;
    position: relative;
}

.navigation :hover{
    color: #ff0000;
    /* font-size: 120%; */
}

nav{
    background-color: #f2f2f2;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.deals{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

.wishlist{
    background-color: rgb(61, 117, 117);
    font-family: 'Courier New', Courier, monospace;
}

.bestsellers{
    background-color: rgb(95, 61, 117);
    font-family: 'Courier New', Courier, monospace;
}
.newarrivals{
    background-color: rgb(38, 19, 90);
    font-family: 'Courier New', Courier, monospace;
}


#leftbox {
    float: left;
    width: 33%;
}

#middlebox {
    float: left;
    width: 34%;
}

#rightbox {
    float: right;
    width: 33%;
}